:root {
  --primary-50:  #eff6ff;
  --primary-100: #c4ddfe;
  --primary-200: #91c1fe;
  --primary-300: #5fa4fd;
  --primary-400: #2c88fd;
  --primary-500: #036cf3;
  --primary-600: #0256c1;
  --primary-700: #023f8e;
  --primary-800: #01295c;
  --primary-900: #00132a;
  --primary: var(--primary-800);

  --secondary: #F2F3AE;

  --white:    #fff;
  --gray-100: #eee;
  --gray-200: #ddd;
  --gray-300: #ccc;
  --gray-400: #bbb;
  --gray-500: #999;
  --gray-600: #777;
  --gray-700: #555;
  --gray-800: #333;
  --gray-900: #111;
  --gray:     var(--gray-700);
  --black:    #000;

  --danger:  #c52233;
  --success: #00795A;
  --warning: #B35F00;

  --border-radius: 8px;
  --box-shadow:    0 0 15px 5px rgba(0, 0, 0, .05);
  --gap:           2rem;
  --gap-external:  3rem;

  --wp-admin--admin-bar--height: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}
a {
  color: var(--primary-700);
}

/* #region Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-800);
  border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-700);
}
/* #endregion */

/* #region Layout */
#wpwrap {
  background: var(--grey-100);
  background: -webkit-linear-gradient(to top, var(--white), var(--grey-100));
  background: linear-gradient(to bottom, var(--white), var(--grey-100));
}
#wpcontent {
  height: 100%;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
#wpbody {
  height: 100%;
  padding-top: 0;
}
#wpbody-content {
  padding-bottom: 0;
}
#adminmenumain,
#wpadminbar,
#wpfooter {
  display: none;
}
header {
  background-color: var(--primary-900);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  color: var(--white);
  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 1rem 4rem;
  font-size: .75rem;
  padding: 1rem var(--gap-external);
  width: 100%;
  & #toggleMenu {
    background-color: transparent;
    border: 0 none;
    color: var(--secondary);
    display: none;
    align-items: center;
    font-size: 1rem;
    gap: .5rem;
    padding: 0;
    &:hover {
      opacity: .75;
    }
  }
  & h1 {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 6rem 0 0;
    & strong {
      background-image: url(../images/obatala.svg);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: auto 26px;
      display: block;
      height: 26px;
      text-indent: -9000px;
      width: 122px;
    }
    & small {
      color: var(--primary-100);
      font-size: 1rem;
      font-weight: 200;
    }
  }
  & nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    & a {
      text-decoration: none;
    }
    & .menu-brand {
      display: flex;
      align-items: center;
      &:hover {
        opacity: .75;
      }
    }
    & .menu-link {
      background-color: rgba(255, 255, 255, .05);
      border-radius: var(--border-radius);
      color: var(--white);
      display: flex;
      align-items: center;
      font-size: .9rem;
      gap: .5rem;
      padding: .5rem 1rem;
      text-decoration: none;
      & .dashicon {
        opacity: .5;
      }
      &:hover {
        background-color: rgba(255, 255, 255, .15);
        color: var(--white);
      }
    }
    & .menu-tainacan {
      background-image: url(../images/tainacan.svg);
      background-position: 1rem center;
      background-repeat: no-repeat;
      background-size: 16px auto;
      font-size: .8rem;
      padding-left: 2.5rem;
    }
    & .menu-icon {
      padding: .5rem;
      & .dashicon {
        opacity: 1;
      }
      & .text {
        display: none;
      }
    }
    & .components-dropdown-menu__toggle {
      background-color: rgba(255, 255, 255, .05);
      border-radius: var(--border-radius);
      color: var(--white);
      &:hover:not(:disabled,[aria-disabled=true]) {
        background-color: rgba(255, 255, 255, .15);
        color: var(--white);
      }
    }
    &.active {
      background-color: var(--primary-800);
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 53px);
      padding: var(--gap) var(--gap-external);
      position: absolute;
      top: 53px;
      left: 0;
      width: auto;
      z-index: 1000;
      & .menu-brand {
        margin-bottom: 1rem;
      }
      & .menu-icon {
        border-radius: var(--border-radius);
        gap: .75rem;
        padding: .5rem 1rem;
        & .text {
          display: block;
        }
      }
      & .menu-tainacan {
        font-size: .9rem;
        margin-top: auto;
        padding-left: 2.75rem;
        width: 100%;
      }
      & .components-dropdown-menu__toggle {
        font-size: .9rem;
        gap: .5rem;
        justify-content: flex-start;
        padding: .5rem 1rem;
        width: 100%;
        &::after {
          content: attr(aria-label);
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    & #toggleMenu {
      display: flex;
    }
    & nav {
      display: none;
    }
  }
}
main {
  padding: var(--gap) var(--gap-external);
  min-height: 75vh;
  position: relative;
  &::before {
    background-color: var(--primary-900);
    content: "";
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  & > * {
    position: relative;
  }
  & h2 {
    color: var(--white);
    font-size: 2rem;
    & small {
      color: var(--gray-400);
      display: block;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
footer {
  padding: var(--gap) var(--gap-external);
}
/* #endregion */

/* #region Forms */
.combobox-selection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-top: 0.5rem;
  width: 100%;
}
.combobox-selection .combobox-selected {
  background-color: var(--primary-50);
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.combobox-selection .combobox-selected .components-button.has-icon {
  height: 30px;
  padding: 0;
}
.combobox-selection + .components-button {
  margin-top: .5rem;
}
.components-base-control,
.components-base-control:not(.components-checkbox-control)
  + div:has(> .components-base-control) {
  width: 100%;
}
.components-base-control:not(.components-checkbox-control)
  + .components-base-control,
.components-base-control:not(.components-checkbox-control)
  + div:has(> .components-base-control),
.components-base-control + .components-button {
  margin-top: 1rem;
}
.components-base-control.components-checkbox-control {
  padding-top: 1.1rem;
}
.components-base-control__field > label {
  margin-bottom: .1rem;
  text-transform: none;
}
.components-button {
  border-radius: var(--border-radius);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  &.is-primary {
    --wp-admin-theme-color: var(--primary-600);

    border: 1px solid var(--wp-admin-theme-color);
    border-radius: var(--border-radius);
    outline: 0 none;
    &:hover:not(:disabled) {
      background-color: var(--primary-500);
      border-color: var(--primary-500);
    }
  }
  &.is-secondary,
  &.is-tertiary {
    --wp-admin-theme-color: var(--primary-600);

    border: 1px solid var(--wp-admin-theme-color);
    box-shadow: 0 0 0;
    &:hover:not(:disabled,[aria-disabled=true]) {
      background-color: var(--primary-100);
    }
  }
  &.is-destructive {
    --wp-components-color-accent: var(--danger);

    border: 1px solid var(--wp-components-color-accent);
  }
  &.is-link {
    --wp-admin-theme-color: var(--primary-600);
  }
}
.components-button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
}
.components-button-group {
  display: inline-flex;
  & .components-button {
    box-shadow: inset 0 0 0 1px var(--white);
    border: 0 none;
    color: var(--white);
    &.is-primary {
      box-shadow: 0 0 0;
      color: var(--white);
    }
    &.is-secondary {
      --wp-admin-theme-color: var(--primary-600);

      box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color);
      color: var(--wp-admin-theme-color);
    }
    &.is-destructive {
      box-shadow: inset 0 0 0 1px var(--danger);
    }
    &:hover {
      background-color: var(--primary-100);
    }
  }
}
.components-button-group .components-button:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.components-button-group .components-button:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.components-button-group .components-button:only-of-type {
  border-radius: var(--border-radius);
}
.components-button-group .components-dropdown.components-dropdown-menu {
  margin-left: .5rem;
  &.is-secondary .components-button {
    box-shadow: inset 0 0 0 1px var(--primary-600);
    color: var(--primary-500);
    &:hover {
      color: var(--primary-700);
    }
  }
}
form .components-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}
form :not(.components-panel__row) > .components-button-group {
  margin-top: 2rem;
}
form .components-button-group .components-button {
  border-radius: var(--border-radius) !important;
}
.components-checkbox-control + .components-checkbox-control {
  margin-top: 0.75rem;
}
.components-flex.components-select-control {
  gap: 0.1rem;
}
.components-input-control__input,
.components-select-control__input,
.components-text-control__input {
  border-radius: var(--border-radius) !important;
  height: 38px !important;
  min-height: 38px !important;
}
.components-input-control__input[required],
.components-select-control__input[required],
.components-text-control__input[required] {
  border-color: var(--primary-500);
}
.components-input-control__input[required]:focus,
.components-select-control__input[required]:focus,
.components-text-control__input[required]:focus {
  border-color: var(--primary-600);
}
.components-text-control__input[disabled] {
  background-color: var(--gray-200);
}
.components-combobox-control__suggestions-container > .components-flex {
  height: 38px;
}
.components-base-control__help {
  margin-bottom: 0 !important;
}
.inline-edition {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-left: var(--gap-external);
  margin-right: var(--gap-external);
}
.inline-edition .components-base-control {
  flex-basis: 200px;
  flex-grow: 1;
}
.inline-edition .components-base-control .components-base-control__field {
  margin-bottom: 0;
}
.inline-edition .components-button-group {
  margin-top: 0;
  width: auto;
}
/* #endregion  */

/* #region Tables */
table.wp-list-table {
  border: 0 none;
  border-collapse: collapse;
  width: 100%;
  &.transparent {
    background-color: transparent;
  }
}
table.wp-list-table td {
  vertical-align: middle;
}
table.wp-list-table th {
  font-weight: 500;
}
th[role="columnheader"] {
  font-weight: 300 !important;
}
th[role="columnheader"][title="Toggle SortBy"] {
  font-weight: 600 !important;
  line-height: 1em;
}
/* #endregion */

/* Accordion */
.accordion-item {
  background-color: var(--white);
  border-radius: var(--border-radius);
  & .accordion-header {
    background-color: var(--white);
    border: 0 none;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: .5rem 1rem;
    padding: 1rem 2rem;
    text-align: left;
    width: 100%;
  }
  & .accordion-header[aria-expanded]::after {
    color: var(--primary-600);
    font-family: 'Dashicons';
    font-size: 1.5rem;
    width: 20px;
  }
  & .accordion-header[aria-expanded="false"]::after {
    content: "\f347";
  }
  & .accordion-header[aria-expanded="true"]::after {
    content: "\f343";
  }
  & .accordion-header[disabled]::after {
    content: "";
  }
  & .accordion-header[disabled] {
    cursor: not-allowed;
  }
  & .accordion-title {
    color: var(--primary);
    flex-basis: 300px;
    flex-grow: 1;
    font-size: 1.2rem;
    margin: 0;
  }
  & .accordion-header[disabled] .accordion-title {
    color: var(--gray-600);
  }
  & .accordion-header:not([disabled]):hover .accordion-title {
    color: var(--primary-600);
  }
  & .accordion-content {
    border-top: 1px solid var(--primary-100);
    margin-bottom: 1rem;
    padding: 2rem;
  }
  & .accordion-content > .badge-container {
    justify-content: flex-end;
  }
  & + .accordion-item {
    margin-top: 1rem;
  }
}
.accordion .status {
  flex-shrink: 0;
}

/* #region Badge */
.badge {
  background-color: var(--gray-700);
  border-radius: 25px;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  gap: .25rem;
  line-height: 1em;
  padding: .35rem .6rem;
  white-space: nowrap;
  &.danger {
    background-color: var(--danger);
  }
  &.info {
    background-color: var(--primary-600);
  }
  &.success {
    background-color: var(--success);
  }
  &.warning {
    background-color: var(--warning);
  }
}
.badge .dashicon {
  font-size: .8rem;
  height: 12px;
  opacity: .5;
  width: 15px;
}
.badge-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}
.title-container + .badge-container {
  margin: -.5rem 0 2rem;
}
/* #endregion */

/* #region Modal */
.components-modal__header .components-modal__header-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.components-modal__header .components-modal__header-heading .badge {
  font-size: .8rem;
}
/* #endregion */

/* #region Functional classes */
.d-block {
  display: block;
}
.false {
  color: var(--danger) !important;
}
.flex-basis-100 {
  flex-basis: 100%;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem;
}
.me-auto {
  margin-right: auto !important;
}
.ms-auto {
  margin-left: auto !important;
}
.ms-2 {
  margin-left: 2rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.text-center {
  text-align: center;
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/* #endregion */

/* #region Timeline */
.timeline-container {
  flex-basis: 100%;
  max-height: 600px;
  overflow-y: auto;
  width: 100%;
}
.timeline-container::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 6px;
}
.timeline {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  position: relative;
}
.timeline::before {
  background-color: var(--gray-100);
  content: "";
  height: 100%;
  position: absolute;
  left: 9px;
  width: 2px;
}
.timeline-item {
  margin-bottom: 0;
  padding-left: 2rem;
  position: relative;  
}
.timeline-badge {
  background-color: var(--gray-500);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white);
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
}
.timeline-badge svg {
  height: 16px;
  width: 16px;
}
.timeline-badge.primary {
  background-color: var(--primary-500);
}
.timeline-badge.success {
  background-color: var(--success);
}
.timeline-title {
  font-size: .9rem;
  line-height: 1em;
  margin: .2rem 0 .3rem;
}
.timeline-title time {
  color: var(--gray-700);
  font-size: .75rem;
  font-weight: 300;
  padding-left: .15rem;
}
.timeline-content {
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius);
  margin: 0;
  padding: .25rem .5rem;
}
dl.timeline-content dt {
  display: inline-block;
  font-weight: 600;
}
dl.timeline-content dd {
  display: inline;
  margin-left: .25rem;
}
.timeline-content-buttons {
  display: flex;
  flex-direction: row;
  gap: .25rem;
  padding-top:.5rem ;
  width: 100%;
}
div.timeline-content {
  display: grid;
  align-items: center;
  grid-template-areas: 'message actions';
  gap: .5rem;
}
.timeline-content p {
  font-size: .9rem;
  grid-area: message;
  margin: 0;
}
.timeline-actions {
  grid-area: actions;
  justify-self: flex-end;
}
.timeline-actions .components-button.has-icon {
  height: 24px;
  min-width: 24px;
}
/* #endregion */

/* Components */
form .action-bar {
  display: flex;
  width: 100%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  & .card-item {
    background-color: var(--white);
    border: 0 none;
    border-radius: var(--border-radius);
    color: var(--primary);
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: .5rem var(--gap);
    justify-content: space-between;
    padding: 1.25rem var(--gap);
    & .title {
      flex-basis: 100%;
    }
    & .indicator {
      font-size: 2.25rem;
      font-weight: 600;
      line-height: 1em;
    }
    &.primary-100 {
      background-color: var(--primary-100);
    }
  }
  & .components-panel {
    flex-grow: 1;
  }
}
.card-container a.card-item {
  background-color: var(--primary-600);
  color: var(--white);
  text-decoration: none;
}
.card-container a.card-item:hover {
  background-color: var(--primary-400);
}
.card-container .description {
  font-size: 1.25rem;
  & .dashicons {
    margin-right: .5rem;
    opacity: .5;
  }
}
.card-container .indicator small {
  color: var(--gray-500);
  font-size: 1rem;
  font-weight: 300;
}
.card-container .user-photo {
  border-radius: 50%;
}
.card-container progress {
  flex-basis: 100%;
}
.description-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 4rem;
  width: 100%;
}
.description-list .list-item {
  flex-basis: 200px;
  flex-grow: 1;
}
.description-list dt {
  color: var(--gray-800);
  font-size: .75rem;
  font-weight: 500;
}
.description-list dt::after {
  content: ":";
}
.description-list dd {
  font-size: .9rem;
  margin: 0;
}
.list-group {
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}
.list-group .list-group-item {
  border: 1px solid var(--primary-400);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
  gap: 1rem;
  justify-content: space-between;
  margin-left: 1.5rem;
  padding: .5rem .75rem;
  position: relative;
  text-decoration: none;
}
.list-group .list-group-item::before {
  color: var(--primary-500);
  content: counter(list-counter, decimal-leading-zero);
  counter-increment: list-counter;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: -1.5rem;
  width: 30px;
}
.list-group .list-group-item:hover {
  background-color: var(--primary-50);
}
.list-group .list-group-item dl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 4rem;
  margin: 0;
  width: 100%;
}
.list-group .list-group-item dt {
  color: var(--gray-800);
  font-weight: 300;
  display: inline-block;
  margin-right: .25rem;
}
.list-group .list-group-item dd {
  color: var(--black);
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
}
.list-group .list-group-item h4 {
  color: var(--primary);
  font-size: .9rem;
  margin: 0;
}
.panel-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.panel-container main,
.panel-container > div {
  flex-basis: 60%;
  flex-grow: 1;
}
.panel-container > .components-panel {
  flex-basis: 45%;
  flex-grow: 1;
}
.panel-container > .components-panel + .components-panel {
  margin-top: 0;
}
.panel-container aside {
  flex-basis: 180px;
  flex-grow: 1;
}
.navigation-point.completed {
  background-color: var(--success);
  color: var(--white);
}
.navigation-point.completed::before {
  content: '\f147';
  font-family: 'Dashicons';
  font-size: 1.2rem;
}
.components-notice {
  border-radius: var(--border-radius);
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
  & ol {
    margin-top: 0;
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
  &.is-error {
    border: 1px solid var(--danger);
  }
  &.is-success {
    border: 1px solid var(--success);
  }
}
.components-dropdown-menu__menu .components-dropdown-menu__menu-item {
  min-width: 120px;
}
.components-panel {
  background: var(--white);
  border: 0 none;
  border-radius: var(--border-radius);
  &.warning {
    background-color: var(--warning);
    color: var(--white);
  }
}
.components-panel__header {
  gap: 1rem;
}
.components-panel__header,
.components-panel__header h3 {
  font-size: 1rem;
  padding: 0 var(--gap);
}
.components-panel__header h3 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.components-panel__header small {
  color: var(--gray-600);
  font-size: .8rem;
}
.components-panel__header .badge {
  font-size: .8rem;
  margin-right: auto;
}
.components-panel__body {
  padding: 0 !important;
}
.components-panel__body > .components-panel__body-title:hover {
  background-color: transparent;
}
.components-panel__body.is-opened > .components-panel__body-title {
  margin: 0;
}
.components-panel__body-toggle.components-button {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem var(--gap);
}
.components-panel__body-toggle.components-button:hover {
  color: var(--primary-900);
}
.components-panel__body.is-opened .components-panel__body-toggle.components-button {
  color: var(--gray);
}
.components-panel__row {
  flex-wrap: wrap;
  padding: var(--gap);
}
.components-panel__header + .components-panel__row {
  padding-top: 1rem;
}
.components-panel + .components-panel {
  margin-top: 1rem;
}
.components-panel footer {
  background: var(--primary-50);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  color: var(--gray-800);
  font-size: .8rem;
  font-weight: 300;
  padding: .5rem 2rem;
  text-align: right;
}
.components-panel + .components-button-group {
  background-color: var(--white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 6rem;
  padding: 0 2rem 1rem;
  width: fit-content;
}
.components-radio-control .components-flex {
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}
.components-radio-control .components-flex .components-radio-control__option {
  flex-basis: 50px;
}
.components-tab-panel__tabs {
  --wp-admin-border-width-focus: 4px;

  padding: 0 .5rem;
}
.components-tab-panel__tabs-item {
  color: var(--primary-300);
  font-size: .9rem;
  &::after {
    background-color: var(--primary-400);
    border-radius: var(--border-radius);
  }
  &:hover:not(:disabled,[aria-disabled=true]) {
    color: var(--primary-300);
  }
}
.components-tooltip {
  background-color: var(--primary-900);
  border-radius: 5px;
  padding: .5rem 1rem;
}
.status {
  border: 2px solid var(--white);
  border-radius: 50%;
  height: 14px;
  outline: 1px solid var(--gray-400);
  text-indent: -9000px;
  width: 14px;
}
.status.danger {
  background-color: var(--danger);
}
.status.success {
  background-color: var(--success);
}
.status.warning {
  background-color: var(--warning);
}
progress {
  height: 16px;
  appearance: none;
  -webkit-appearance: none;
  min-width: 300px;
}
progress::-webkit-progress-bar {
  background-color: rgba(0,0,0,.1);
  border-radius: var(--border-radius);
}
progress::-webkit-progress-value {
  background-color: var(--success);
  border-radius: var(--border-radius);
  transition: width 0.3s ease;
}
progress::-moz-progress-bar {
  background-color: var(--success);
  border-radius: var(--border-radius);
}
.progress {
  display: inline-block;
  min-width: 300px;
  & .description {
    margin: 0;
    text-align: right;
  }
}

/* Extra */
.check {
  color: var(--gray-600);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 1;
  margin-bottom: 0;
}
.check::before {
  font-family: "Dashicons";
  font-size: 1.25rem;
}
.check.true::before {
  color: var(--success);
  content: "\f147";
}
.check.false::before {
  color: var(--danger);
  content: "\f158";
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  & .dashboard-item-personal {
    flex-basis: 25%;
    flex-grow: 0;
  }
  & .dashboard-item-stats {
    flex-basis: 300px;
    flex-grow: 1;
  }
}
button .components-spinner {
  width: 15px;
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.form-buttons {
  display: flex;
}
.my-gutenberg-form .form-buttons {
  margin-top: 20px;
  margin-left: 1px;
}
.form-error {
  color: var(--danger);
}
.form-buttons button {
  margin-right: 4px;
}
.form-buttons .components-spinner {
  margin-top: 0;
}
.list-actions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0;
  width: 100%;
  & li {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 0;
    & a {
      background-color: rgba(0, 0, 0, .15);
      border-radius: 25px;
      color: var(--white);
      display: flex;
      align-items: center;
      gap: .75rem;
      justify-content: space-between;
      padding: .5rem .5rem .5rem 1rem;
      text-decoration: none;
      & .percent {
        flex-basis: 50px;
        font-size: 1.5rem;
        text-align: right;
      }
      & .text {
        font-size: .9rem;
        line-height: 1.1em;
        margin-right: auto;
      }
      &:hover {
        background-color: rgba(0, 0, 0, .25);
        & .percent {
          color: var(--white);
        }
      }
    }
    &:last-child {
      border-bottom: 0 none;
    }
  }
}
#obatala-manage-processes {
  max-width: 500px;
}
#obatala-manage-processes ul,
#obatala-manage-processes ul li {
  list-style-type: disc;
}
#obatala-manage-processes ul {
  padding-left: 20px;
}
#obatala-manage-processes .components-search-control__input {
  height: 36px;
  margin-left: 0;
}
#obatala-manage-processes .list-controls {
  display: flex;
  width: 100%;
}
#obatala-manage-processes .list-controls .components-search-control {
  flex-grow: 1;
  margin-right: 8px;
}

@media print {
  :root {
    --gap-external: 1rem;
  }
  header,
  footer,
  progress,
  table.wp-list-table th span,
  #adminmenumain,
  .accordion .status,
  .accordion-header[aria-expanded]::after,
  .action-bar,
  .components-button-group,
  .components-tab-panel__tabs-item[aria-selected="false"],
  .container_searchAndSelect,
  .metro-navigation,
  .no-print,
  .pagination,
  .update-nag {
    display: none !important;
  }
  #wpcontent,
  #wpfooter {
    margin-left: 0;
  }
  html.wp-toolbar {
    padding-top: 0;
  }
  main {
    padding: 0;
  }
  .accordion-item {
    border-bottom: 1px solid var(--gray-300);
    & .accordion-header {
      padding: .5rem 0;
    }
    & .accordion-content {
      padding: 1rem 0;
    }
  }
  
  .badge {
    color: var(--black);
    padding: 0;
  }
  .components-panel__header,
  .components-panel__header h3 {
    padding: 0;
  }
  .components-panel__row {
    padding: var(--gap) 0;
  }
  .components-tab-panel__tabs {
    padding: 0;
  }
  .components-tab-panel__tabs-item {
    padding-left: 0;
    padding-right: 0;
  }
  .panel-container aside {
    flex-basis: 100%;
  }
  .progress {
    min-width: auto;
  }
  .timeline-badge {
    fill: var(--black);
  }
  .timeline-item {
    padding-left: 1.5rem;
  }
}



.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  max-width: 60%;
}

.comment.current-user {
  background-color: #e0f7fa;
  margin-left: auto;
}

.comment .avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.comment .comment-content {
  max-width: calc(100% - 50px);
}

.comment .comment-content p {
  margin: 5px 0;
}
.steps-list {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  padding: 0;
  width: 100%;
}
.step-card {
  border-radius: 8px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    background-color 0.2s;
}
.step-item {
  background-color: var(--primary-50);
  border: 1px solid var(--primary-100);
  border-radius: 25px 10px 10px 25px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  gap: 1rem;
}
.step-item h4 {
  flex-basis: 215px;
  margin: 0;
}
.step-item .components-button-group {
  margin-left: auto;
}
.step-item .description-list {
  margin: 0;
}
.step-item .description-list .list-item {
  display: flex;
  flex-basis: 100px;
  flex-grow: 0;
}
.step-item .description-list dt {
  float: left;
  margin-right: .5rem;
}
.step-number {
  border-radius: 50%;
  background-color: var(--primary-600);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  min-height: 36px;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-title {
  margin-bottom: 10px;
  text-align: center;
}
.step-card button {
  align-self: flex-end;
}
.title-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: 1.5rem 0;
  & progress::-webkit-progress-bar {
    background-color: rgba(255,255,255,.1);
  }
  & .badge {
    background-color: rgba(255, 255, 255, .2);
    color: var(--white);
  }
  & .components-button-group {
    & .components-button {
      &.is-secondary {
        color: var(--primary-400);
        &:hover {
          color: var(--primary-700);
        }
      }
    }
  }
  & .stat {
    margin-left: auto;
    text-align: right;
    & .description {
      color: var(--gray-300);
      font-size: .85rem;
      max-width: 100%;
      padding-bottom: .25rem;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 0;    
  }
}
.title-container h2 {
  line-height: 1em;
  margin: 0;
}
.title-container p {
  font-size: 1rem;
  margin: 0;
  max-width: 60%;
}
.title-container strong {
  font-weight: 800;
}
.title-container .components-button-group {
  margin-left: auto;
}
.title-container-table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.actions {
  display: flex;
  gap: 1rem;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;
  margin-top: 2rem;
  padding: 1rem 0;
  width: 100%;
}
.pagination .components-button {
  color: var(--primary-600);
  justify-content: center;
  min-width: 100px;
}
.pagination .components-button[disabled] {
  color: var(--gray-500);
}
.meta-field-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
.meta-field-wrapper > .meta-field {
  flex-basis: 500px;
  flex-grow: 1;
}
.meta-field-wrapper > .meta-field.md {
  flex-basis: 200px;
}
.meta-field-wrapper > .meta-field.sm {
  flex-basis: 100px;
}
.meta-field-wrapper > .meta-field.required::after {
  color: var(--primary-400);
  content: "Preenchimento obrigatório.";
  font-size: .75rem;
}
.meta-field-wrapper + .action-bar {
  margin-top: var(--gap);
}
.meta-field-wrapper .components-base-control__field > label,
.meta-field-wrapper .components-input-control__label {
  font-size: .85rem;
}

/* tmp */
.brand + h2 {
  margin-left: var(--gap-external);
  margin-right: var(--gap-external);
}

.container_searchAndSelect {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container_searchAndSelect .components-button {
  color: var(--primary-600);
}
